@import '../../../variables.styl'

.search--box
  height 40px
  width 100vw
  display grid
  grid-template-columns: 5% 90% 5%
  justify-items center
  justify-content center
  align-items center

form
  left: -50px
  position relative
  grid-column: 2/span 1
  display flex
  flex-direction column
  justify-content center
  align-items center
  width auto
  height 40px
  flex-wrap wrap

input[type='text']
  border 1px solid gray
  padding 5px
  width 300px
  &:focus
    background rgba(0,0,0,.03)

input
  height 40px
  display flex
  align-items center
  font-size 1rem
  border none
  transition all .1s
  border-radius 3px

input[type='submit']
  position relative
  justify-content center
  padding 6px 9px 6px 9px
  background gray
  color white
  margin-left 10px
  border 1px solid gray
  cursor pointer
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  transition all .2s
  &:hover
    color gray
    background white
  &:active
    outline none
    top 2px
    box-shadow inset 0px 0px 4px

@media only screen and ( max-width: 430px )
  form
    flex-direction row
    left 0

  input[type='submit']
    width 300px
    margin-top 15px
    margin-left 0

@media only screen and (min-width: 780px)
  input[type='text']
    width: 50vw
