.beer-card
  display flex
  flex-direction column
  justify-content center
  align-items center
  border 2px solid #bada55
  min-height 300px
  padding 10px
  transition all .2s
  &:focus, &:hover
    transform scale(1.05)

.beer-card img
  height 32px
  width auto

.beer-card a
  color black
  text-decoration none