.detail--container
  height 90vh
  width 100vw
  display flex
  justify-content center
  align-items center

.detail--innerbox
  width: 90vw
  display flex
  justify-content center


.detail--textbox
  text-align center
  display grid
  justify-content center
  align-items center
  margin-left 50px
  letter-spacing 2.5px
  border 2px solid #bada55
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  & h1, h2, h3, h4, h5, h6
    margin 6px
  & a
    color #0033bb
    text-decoration none

.detail--innerbox img
  grid-column: 1/ span 1;
  grid-row: 1 / -1
  height: 200px
  width auto
  border 2px solid #bada55
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

@media only screen and (min-width: 780px)

  .detail--textbox
    padding: 10px
    width 500px
    & h4
      font-size 2rem
    & h5
      font-size 1.2rem
    & h6
      font-size 1rem

  .detail--innerbox img
    height 400px
